{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal  p-2 rounded">
                    Créer une nouvelle catégorie
                </h1>

                {{ include('category/_form.html.twig') }}

                <div class="text-right mt-3">
                    <a href="{{ path('app_category_index') }}" class="btn btn-lg btn-secondary">
                        Retour à la liste
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

